.leaderboard-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.leaderboard-page a {
  width: 130px;
  height: 40px;
}
.leaderboard-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.leaderboard {
  border: 1px solid grey;
  width: 450px;
  text-align: center;
  border-radius: 10px;
}
.spaced-content {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}
.name-time p {
  color: grey;
  width: 120px;
}
.record p {
  width: 120px;
}
.record span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  color: gray;
}
.record:last-of-type {
  border-bottom: none;
}
