.timer{
  
  height: 100px;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
  
}

.digits{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color:  black;
}

.mili-sec{
  color:  #e42a2a;
}